
<form class="login">
    <h3> Login ...</h3>
    <input type="text" name="email" 
    [(ngModel)]="email" placeholder="Enter your email">
    <input type="password" name="password" [(ngModel)]="password" placeholder="Enter your password">
     <div class="demo-note">
            <p><strong>Demo Guest:</strong></p>
            <p>Email: <span class="highlight">duaa&#64;gmail.com</span></p>
            <p>Password: <span class="highlight">1234</span></p>
        </div>
    <button (click)="userLogin()">Login</button>
</form>
  
